{% extends "base.html" %}
{% block title %}500 · 服务器出错{% endblock %}
{% block content %}
<div class="card" style="max-width:640px;margin:4vh auto">
  <div class="empty">
    <img class="ill" src="{{ url_for('static', filename='img/ill-level.svg') }}" alt="500">
    <b>服务器出了点小状况（500）</b>
    <p>已经记录到日志，请稍后重试。如果反复出现，请联系站点管理员。</p>
    <a class="btn btn-primary" href="{{ url_for('main.index') }}">返回首页</a>
    <a class="btn btn-outline" href="javascript:location.reload()">重试一次</a>
  </div>
</div>
{% endblock %}
